.calendar-header {
  background: #fcfcfc;
}
.calendar-header img {
  width: 3rem;
  height: 3rem;
}
.calendar-header h1 {
  margin-right: 2.5rem;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(107 114 128);
}
.calendar-header .border {
  border: none !important;
  border-width: 1px;
  margin-right: 2rem;
  background-color: #fff;
  --tw-shadow-color: rgb(59 130 246/0.2);
  --tw-shadow: var(--tw-shadow-colored);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: rgb(59 130 246);
  font-weight: 600;
}
.chevron-btn {
  border: none;
  background: none;
  margin: 0 0.25rem;
}
