.testament-container .ql-editor {
  min-height: 70vh;
}
.testament-container .btn-save-doc {
  width: 50%;
  border: none;
  display: inline-flex;
  position: relative;
  margin-top: 7.5vh;
  align-items: center;
  justify-content: center;
  padding: 0.325rem;
  overflow: hidden;
  font-weight: 500;
  border-radius: 0.5rem;
  background: #000;
  color: white;
}
